/*#container{
  text-align: center;
  border: 1px dotted red;

}*/


 .row{
  border: 1px solid black;
  height: 3em;
  width: 100%;
 

}

.cell{
  display: inline-block;
  border: 1px solid black;
  background-color: pink;
  height: 3em;
  width:3em;
}

 