

    body {
      background: #555;
      margin: 0px;
    }

    #header h1{
      margin: 0px;
      color: white;
      font-family: 'VT323', monospace;
      font-size: 5em;
    }

    #buttons {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      margin: 5px;
      background-color: #555;
      padding: 5px;
    }

    #container  {
      display: grid;
      background-color: white;
      grid-template-columns: repeat(16, 1fr);
      grid-template-rows: repeat(16, 1fr);
      width: 75vmin;
      height: 75vmin;
    }

    .cell{
     border: black 1px solid;
     height: 100%;
     width: 100%;
     background-color: hsl(0, 0%, 100%);
     filter: brightness(1);`
   }

   .btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .btn1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }

  .btn1:hover {
    background-color: #4CAF50;
    color: white;
  }

